*{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, #3871b8, #376fb6 );
    color: #c0e6ff;

}


.body{
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    
}

.user{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 400px;
    justify-content: end;
    align-items: center;
    
}

.usertext{
    display: flex;
    
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 10px;
    color: #c0e6ff;
    flex-direction: row;
    
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.userbox{
    display: flex;
    color: #c0e6ff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100vw;
    

}

.userboxclass{
    color: #c0e6ff;
    size: 30px;
    height: 40px;
    border: 0px;
    border-bottom: 2px solid rgba(229, 229, 229, 0.77);
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    
    font-size: 20px;
    color: rgb(228, 228, 228);     
    
}

.passwordbox{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    height: 100px;
    width: 100vw;
    

}

.passwordboxclass{
    
    size: 30px;
    height: 40px;
    border: 0px;
    border-bottom: 2px solid rgba(229, 229, 229, 0.77);
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgb(228, 228, 228);     
    
}

form div input::placeholder{
    color:  #c0e6ff;
}

.remforclass{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;    
    height: 100px;
    width: 100vw;
    border-left: 50px;
    color: rgb(228, 228, 228)
}

.centradoremforclass{
    display: flex;
    
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;    
    height: 100px;
    width: 400px;
}

.buttonclassforgot{
    font-family: 'Montserrat', sans-serif;
    
    border: none;
    font-size: 18px;
    text-decoration: underline; 
}

.botoningresar{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 50px;
   
}

.inputboton{
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient( 180deg, #2a63aa, #4e87ce);
    font-size: 20px;
    height: 30px;
    border: none;
    width: 300px;
    
}

.innersend{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: rgb(228, 228, 228);
    height: 100px;
    border: none;
    width: 100vw;
}
